.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.contact-title {
  font-weight: 700;
  text-transform: uppercase;
}

.btn-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  font-style: italic;
}
